.about {
    text-align: justify;
}

.header {
    height: 100px;
}
.header h1 {
    float: left;
}
.header ul {
    list-style:none;

    text-align:center;
    float: right;
}

.header li {
    display:inline;
}
.header li a {
    display:inline-block;
    padding:10px;
    color: #C70036;
}

.clear {
    clear: both;
}

.next {
    float: right;
    font-size: 90%;
}
.previous {
    float: left;
    font-size: 90%;
}
.pagination a:visited, .pagination a {
    color: #C70036;
    font-weight: bold;
}

.tile {
    width: 232px;
    height: 104px;
    padding: 5px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 12px;
    border-width: 3px;
    border-style: solid;
    cursor: default;
    position: relative;
    border-color: white;
    -webkit-transition: 0.1s all;
    -moz-transition: 0.1s all;
    -ms-transition: 0.1s all;
    transition: 0.1s all;
}

.page h1, .page h2, .page h3 {
    color: #C70036;
}

.blog h1, .blog h2, .blog h3 {
    color: black;
    font-size: 100%;
}


.blog .post-url {
    color: #C70036;
    text-decoration: none;
}

.blog .date {
    font-size: 90%;
    color: grey;
    font-weight: bold;

}
.tile-small {
    width: 104px;
    height: 104px;
}

div.tile:hover {
    -webkit-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
    -moz-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
    -ms-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
    transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
    border-width: 3px;
    border-style:solid;
}

.tile h1 {
    font-size: 16px;
    margin-top: -5px;
    color: white;
}

.grml, .grml a {
    background-color: #FFDA62;
    border-color: #FFDA62;
    color: #000000;
}

.grml h1 {
    color: navy;
}

.tile .footer {
    position: absolute;
    bottom: -10px;
    right: 5px;
}

a {
    color: black;
}

a:visited {
    color: black;
}

.debian, .debian a {
    border-color: #fff0f0;
    color: #222;
    background-color: #fff0f0;
}

.tile a {
    text-decoration: none;
}
.debian h1 {
    color: #222;
}

.devradio, .devradio a, .devradio:visited {
    background-color: #151e4d;
    border-color: #151e4d;
    color: white;
}

.devradio h1 {
    color: #fc0;
}

.salt, .salt a, .salt a:visited {
    background-color: #5ca3d4;
    border-color: #5ca3d4;
    color: white;
}

.ccc-ulm, .ccc-ulm a, .ccc-ulm a:visited {
    background-color: #FF7F50;
    border-color: #FF7F50;
    color: white;
}

.blueprint, .blueprint a, .blueprint a:visited {
    background-color: #072F74;
    border-color: #072F74;
    color: white;
}

.penta-android {
    background-color: #A4CA39;
    border-color: #A4CA39;
    padding-right: 12px;
}

.penta-android a, .penta-android a:visited {
    color: white;
}

@media screen and (max-width: 1024px) {

    .page {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 110%;
    }
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }
    td {

        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
    }

    td {
        float: left;
    }

    .tile {
        width: 104px;
        height: 104px;
    }
    .tile.penta-android h1 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .penta-android {
        padding-right: 5px;
    }

    .tile p:nth-of-type(1) {
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.2em;
        max-height: 4.8em;
    }

}

@media screen and (min-width: 1024px) {
    .page {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        font-size: 110%;
        min-width: 750px;
    }
}
