---
layout: presentations
title: Presentations
---

<p>
This is an exempt of presentations given at different venues. If you want to see a specific presentation included get in touch.
</p>
{% for post in site.categories.presentations %}

   <!-- here add you post markup -->
   <span class="date">» {{ post.date | date: "%d %b %Y" }}</span> 
   {% if post.pdf: %}<a href="{{ post.pdf }}">{% elsif post.link: %}<a href="{{ post.link }}">{% endif %}{{ post.title }}</a>
   {% if post.person: %}
   <span class="presentation person"> with {{ post.person }}</span>
   {% endif %}
   {% if post.language: %}
   <span class="presentation lang"> in {{ post.language }}</span>
   {% endif %}
   {% if post.venue: %}
   <span class="presentatio venue"> ({{ post.venue }})</span>
   {% endif %}
   <br />
{% endfor %}
<hr />

<p>
For any question feel free to contact me anytime via email          <a href="mailto:ulrich@dangel.im">ulrich@dangel.im</a>, twitter: <a href="http://twitter.com/mr_ud">@mr_ud</a>, Jabber: <em>uli@jabber.spamt.net</em> or IRC.
</p>
